<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Single</title>
<style type="text/css" media="screen">
	.wrap {
		margin: 0 10%;
	}
	
	header, footer {
		background: #ccc;
	}
</style>
</head>

<body>
	<div class="wrap">
    	<header>
        	<h1>This is a header</h1>
        </header>
    	<section>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel hendrerit orci. Suspendisse consectetur tempor iaculis. Nunc facilisis quam at augue molestie eu placerat neque rutrum. Donec ut dolor in nisl dignissim molestie. Sed condimentum lobortis orci, at imperdiet augue ullamcorper ac. Nullam tincidunt aliquam diam nec faucibus. Curabitur pretium pulvinar ligula, quis consequat orci tempor a. Duis tincidunt neque eu nunc ultricies venenatis. Morbi ullamcorper, justo ac malesuada tincidunt, ipsum justo pretium eros, vitae suscipit massa sem ut elit. Pellentesque dictum quam ut erat sollicitudin varius. Vivamus eu nisl id nunc congue malesuada. Sed non dolor leo.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel hendrerit orci. Suspendisse consectetur tempor iaculis. Nunc facilisis quam at augue molestie eu placerat neque rutrum. Donec ut dolor in nisl dignissim molestie. Sed condimentum lobortis orci, at imperdiet augue ullamcorper ac. Nullam tincidunt aliquam diam nec faucibus. Curabitur pretium pulvinar ligula, quis consequat orci tempor a. Duis tincidunt neque eu nunc ultricies venenatis. Morbi ullamcorper, justo ac malesuada tincidunt, ipsum justo pretium eros, vitae suscipit massa sem ut elit. Pellentesque dictum quam ut erat sollicitudin varius. Vivamus eu nisl id nunc congue malesuada. Sed non dolor leo.</p>
        </section>
        <footer>
        	<p>This is a footer</p>
        </footer>
    </div>
</body>
</html>
