@charset "UTF-8";
/* CSS Document */

body {
	width:710px;
	margin: 1.5em auto;
	padding:50px;
}


p {
	margin: 20px;
	width:700px;
	color: #666;
	font-size:14px;
	font:Cambria;
}

h4 {
	margin: 20px;
	width:700px;
	color:#666;
	
}

ul {
	font:Cambria;
	font-size:14px;
	color:#666;
	width:700px;
	
}

#nav {
  background-color: #FFF;
  color: #666;
  font:Cambria;
  list-style:none;
  text-align: left;xsxs
  width: 700px;
}

#nav li {
  display:inline;
}

#nav a {
  color: #999;
  padding-right: 50px;
  padding-left: 50px;
  border-left: 2px solid #FFF;
}

#firstnav a {
border-left: none;
}

#nav a:hover {
  text-decoration: none;
  color: #999;
}

ul#nav {
	margin: 0;
}
