@charset "UTF-8";
/* CSS Document */

	.wrap {
		margin: 0 3%;
	}
	article {
		width: 200px;
		float: left;
		padding: 10px;
		background: #f3f3f3;
		margin: 10px;
	}
	footer {
		clear: both;	
	}
	
	body {
	width: 800px;
	margin: 1.5em auto;
	
}

	p {
		font:Cambria;
		font-size:14px;
		color:#666;
	}
	
	



h4, h2 {
	margin: 20px;
	width:700px;
	color:#666;
	font:Cambria;
	color:#666;
	
}

h3 {
	padding: 10px;	
}

ul {
	font:Cambria;
	font-size:14px;
	color:#666;
	width:700px;
	
}

#nav {
  background-color: #FFF;
  color: #666;
  font:Cambria;
  list-style:none;
  text-align: left;
  width: 700px;
}

#nav li {
  display:inline;
}

#nav a {
  color: #999;
  padding-right: 30px;
  padding-left: 30px;
  border-left: 2px solid #FFF;
}

#firstnav a {
border-left: none;
}

#nav a:hover {
  text-decoration: none;
  color: #999;
}

ul#nav {
	margin: 0;
}

